@font-face {
    font-family: 'VAL';
    src: URL('./fonts/Valorant Font.ttf') format('truetype');
  }

@font-face {
    font-family: 'Satoshi';
    src: URL('./fonts/Satoshi-Variable.ttf') format('truetype');
  }

@font-face {
    font-family: 'Satoshi-Italic';
    src: URL('./fonts/Satoshi-VariableItalic.ttf') format('truetype');
  }

@font-face {
    font-family: 'STRENGTHEN';
    src: URL('./fonts/Strengthen.ttf') format('truetype');
  }

body {
    font-family: Arial, sans-serif, VAL;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
  }
