/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: 'VAL';
    src: URL("/_next/static/media/Valorant Font.760bfd30.ttf") format('truetype');
  }

body {
    font-family: Arial, sans-serif, VAL;
    margin: 0;
    padding: 0;
  }

