/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/card.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
p {
    font-size: 6px;
    margin: 5px 0;
  }
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/slidingCards.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* styles/slidingCards.css */
.sliding-card-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px
  }
  
  .sliding-card-list {
    display: flex;
    gap: 20px; /* Space between cards */
    transition: transform 0.1s linear; /* Smooth transition when cards are moved */
  }
  
  .sliding-card {
    min-width: 300px;
    height: 60px;
    background-color: #151515;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: color .03s ease, box-shadow 0.3s linear, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
   .sliding-card h3 {
    padding-top: 20px;
    font-weight: normal;
    font-family: VAL;
    font-size: 16px;
    margin: 5px 0;
  }
    
  .sliding-card:hover {
    box-shadow: 0 0 2px #bd3944;
    transform: scale(1.05);
    outline:#bd3944;
    color: #bd3944
  }
  
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./.yarn/__virtual__/next-virtual-e27436a334/4/AppData/Local/Yarn/Berry/cache/next-npm-14.2.13-4a291beaf9-10c0.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/intro/intro.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* styles/intro.css */
.intro-page {
    padding: 50px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
  }
  
  .intro-page h1 {
    font-size: 3rem;
  }
  
  .intro-page p {
    font-size: 1.5rem;
  }

.title {
    padding: 100px;
}

.body {
  height: 1000px;
}
